# Node.js
app/node_modules/
npm-debug.log
package-lock.json

# Logs
*.log

# Environment variables
.env

# Build / compiled files
dist/
build/

# Docker
*.tar
.docker/
docker-compose.override.yml

# Terraform
infra/.terraform/
infra/terraform.tfstate
infra/terraform.tfstate.backup

# Editor / IDE
.vscode/
.idea/

# System / OS files
.DS_Store
Thumbs.db

# NVM
~/.nvm/
