# Node.js / NPM
node_modules/
package-lock.json

# Logs
*.log

# Environment variables
.env

# Build / compiled files
dist/
build/

# Docker
*.tar
.docker/
docker-compose.override.yml

# Project-specific temporary files
/tmp/
.local/
uploads/
data/

# System / OS files
.DS_Store
Thumbs.db
.vscode/
.idea/
